.js-container {
  background-color: #18dea9;
  align-content: center;
}

.inputt {
  padding-bottom: 0.6cap;
  padding: 2cap 2cap;
  border-style: dotted;
  border-radius: 15cap;
  font-size: 17px;
  flex-grow: 1;
}
.appp {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.FIRST {
  display: flex;
}
.butt {
  background-color: rgb(20, 227, 192);
  padding: 15px 15px;
  border-style: groove;
  border-radius: 20cap;
  margin-left: 1cap;
  font-size: 15px;
  cursor: pointer;
}
.user-div {
  display: flex;
  justify-content: end;
  text-align: right;
  margin: 10px;
  background-color: rgb(15, 243, 243);
  padding: 10px 10px;
  border-radius: 20px;
}
.robot-div {
  display: flex;
  justify-content: left;
  background-color: rgb(236, 16, 189);
  padding: 10px 10px;
  border-radius: 20px;
  text-align: left;
  margin: 10px;
}
.pic-user {
  border-radius: 10cap;
}
.pic-bot {
  border-radius: 10cap;
}
.typing {
  background-color: #37e7d8;
  padding: 10px 15px;
  border-radius: 20px;
  display: inline-flex;
  align-items: center;
  margin: 10px;
}

.typing-dots {
  display: flex;
  gap: 5px;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.typing-dots span {
  width: 8px;
  height: 8px;
  background: #555;
  border-radius: 50%;
  animation: typing 1s infinite;
}

.typing-dots span:nth-child(2) {
  animation-delay: 0.2s;
}

.typing-dots span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes typing {
  0% {
    transform: translateY(0);
    opacity: 0.4;
  }
  50% {
    transform: translateY(-5px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 0.4;
  }
}
.scrollable-chat {
  max-height: 100vh;
  overflow-y: auto;
  padding: 10px;
  height: 25em;
  padding: 5.5em;
  will-change: filter;
  transition: filter 300ms;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
